h1 {
    font-family: "Edu TAS Beginner", sans-serif;
    font-weight: 900;
    font-size: 50px;

}

.card-text {
    font-family: "Edu TAS Beginner", sans-serif;
    font-size: 20px;
}

.card-date {
    font-family: "Sometype Mono", monospace;
    font-size: 20px;
}

.wall-img {
    background-image: url(../img/wall.png);
    background-size: auto;
}

body {
    background-image: url(../img/cork.png);
}


/* `Pin in position absolute per uscire dal flusso della pagina e posizionarlo dove voglio */
.pin {
    position: absolute;
    top: -47px;
    right: 181px;
    width: 30%;

}

/* Overlay */

#overlay {
    /* fixed do un ordine a overlay */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.765);
    display: flex;
    justify-content: center;
    align-items: center;
    /* `z-index indico la posizione rispetto agli altri elementi */
    z-index: 9999;

}

#overlay-btn{
    position: fixed;
    top: 246px;
    right: 450px;
    font-size: 60px;
}



@media screen and (min-width: 768px) {
    .pin {
        right: 120px;
    }


}

@media screen and (min-width: 992px) {
    .pin {
        right: 106px;
        top: -39px;
    }

}

@media screen and (min-width: 1200px) {
    .pin {
        right: 146px;
    }

}